<h1>Pics(<%= @pictures.length%>)</h1>

<%= link_to("Add New Picture", "/pictures/new")%>
  <% @pictures.each do |pic| %>

<p>Title: <%=pic.title%>, Artist: <%=pic.artist%> </p>
<%= link_to(image_tag(pic.url), "/pictures/#{pic.id}")%>

  <% end %>
