<h1>Pics</h1>


  <% @pictures.each do |pic| %>

<p>Title: <%=pic.title%>, Artist: <%=pic.artist%> </p>
  <a href="/pictures/<%= pic.id %>"><img src="<%=pic.url%>" alt="<%=pic.title%>"></a>

  <% end %>
