<%= link_to("Back to Gallery", "/pictures") %> | <%= link_to("Edit", "/pictures/#{@picture.id}/edit") %> | <%= link_to("Delete", "/pictures/#{@picture.id}", method: :delete, data: {confirm: "Are you sure you want to delete this pic?"})%>


<h1><%= @picture.title%></h1>
<h3>By <%= @picture.artist%> </h3>

<%= image_tag(@picture.url) %>
